<mat-card>
    <mat-card-title>
      Cadastro de Pessoas
    </mat-card-title>
    <mat-card-subtitle>
      Cadastrar pessoa no Sistema
    </mat-card-subtitle>
  
    <form [formGroup] = "formulario" (ngSubmit)="salvar()">
  
      <mat-card-content>

        <div class="container example-container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
            
            <div fxFlex="80%">
              <mat-form-field>
                <input  autofocus="autofocus"  formControlName="nome" matInput placeholder="Nome" required/>
                <mat-error *ngIf="formulario.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
            </div>
            
            <div fxFlex="20%">
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Selecione a data" formControlName="dataNascimento" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="formulario.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="container example-container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
            <div fxFlex="50%">
                <mat-form-field>
                    <input  formControlName="rua" matInput placeholder="rua" required/>
                    <mat-error *ngIf="formulario.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="50%">
                <mat-form-field>
                    <input  formControlName="cep" matInput placeholder="cep" required/>
                    <mat-error *ngIf="formulario.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="container example-container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
            <div fxFlex="30%">
                <mat-form-field>
                    <input  formControlName="numero" matInput placeholder="numero" required/>
                    <mat-error *ngIf="formulario.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="40%">
                <mat-form-field>
                    <input  formControlName="cidade" matInput placeholder="cidade" required/>
                    <mat-error *ngIf="formulario.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="30%">
                <mat-form-field>
                    <input  formControlName="estado" matInput placeholder="estado" required/>
                    <mat-error *ngIf="formulario.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
         </div>

         <div class="container example-container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
            <div fxFlex="50%">
                <mat-form-field>
                    <input  formControlName="telefoneFixo" matInput placeholder="telefoneFixo" required/>
                    <mat-error *ngIf="formulario.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="50%">
                <mat-form-field>
                    <input  formControlName="telefoneCelular" matInput placeholder="telefoneCelular" required/>
                    <mat-error *ngIf="formulario.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div> 
        </div>
         
      </mat-card-content>
  
      <mat-card-actions>
        <div class="container example-container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  
          <div fxFlex="60%"></div>
  
          <div fxFlex="20%" *ngIf="!isExcluirEnabled() && !isSalvarEnabled()">
          </div>
  
          <div fxFlex="20%" *ngIf="isExcluirEnabled()">
            <button mat-raised-button color="accent" (click)="excluir()">
              <mat-icon>delete</mat-icon>
              Excluir
            </button>
          </div>
  
          <div fxFlex="20%" *ngIf="isSalvarEnabled()">
            <button [disabled]="!isValidForm()" type="submit" mat-raised-button color="primary">
              <mat-icon>save</mat-icon>
              Salvar
            </button>
          </div>
  
          <div fxFlex="20%">
            <button mat-raised-button color="primary" (click)="voltar()">
              <mat-icon>history</mat-icon>
              Voltar
            </button>
          </div>
        </div>
      </mat-card-actions>
  </form>
  </mat-card>